@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

#dropdown-menu-2btn-i .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-i .navbar-brand a {
  font-family: 'Montserrat', sans-serif;
  font-size: 46px;
}
#dropdown-menu-2btn-i .nav .link,
#dropdown-menu-2btn-i .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-2btn-i .navbar,
#dropdown-menu-2btn-i .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-i .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-i .dropdown-menu a:hover,
#dropdown-menu-2btn-i .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-i .navbar-toggler {
  color: #ffffff;
}
#header1-h H1 {
  color: #fac51c;
}
#header1-h P {
  color: #efefef;
}
#msg-box5-g .mbr-header__text {
  color: #ffffff;
}
#msg-box5-g .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-g .mbr-article {
  color: #ffffff;
}
#msg-box1-b .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-b .mbr-article {
  color: #fff;
}
#msg-box2-a .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-a .mbr-article {
  color: #252525;
}

#dropdown-menu-2btn-19 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-19 .navbar-brand a {
  font-family: 'Montserrat', sans-serif;
  font-size: 46px;
}
#dropdown-menu-2btn-19 .nav .link,
#dropdown-menu-2btn-19 .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-2btn-19 .navbar,
#dropdown-menu-2btn-19 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-19 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-19 .dropdown-menu a:hover,
#dropdown-menu-2btn-19 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-19 .navbar-toggler {
  color: #ffffff;
}
#header1-1a H1 {
  color: #fac51c;
}
#header1-1a P {
  color: #efefef;
}
#content5-1g .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-1g .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1g .mbr-article {
  color: #fff;
}
#msg-box1-1i .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-1i .mbr-article {
  color: #fff;
}

#dropdown-menu-2btn-j .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-j .navbar-brand a {
  font-family: 'Montserrat', sans-serif;
  font-size: 46px;
}
#dropdown-menu-2btn-j .nav .link,
#dropdown-menu-2btn-j .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-2btn-j .navbar,
#dropdown-menu-2btn-j .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-j .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-j .dropdown-menu a:hover,
#dropdown-menu-2btn-j .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-j .navbar-toggler {
  color: #ffffff;
}
#header1-k H1 {
  color: #fac51c;
}
#header1-k P {
  color: #efefef;
}

#dropdown-menu-2btn-10 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-10 .navbar-brand a {
  font-family: 'Montserrat', sans-serif;
  font-size: 46px;
}
#dropdown-menu-2btn-10 .nav .link,
#dropdown-menu-2btn-10 .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-2btn-10 .navbar,
#dropdown-menu-2btn-10 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-10 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-10 .dropdown-menu a:hover,
#dropdown-menu-2btn-10 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-10 .navbar-toggler {
  color: #ffffff;
}
#header1-11 H1 {
  color: #fac51c;
}
#header1-11 P {
  color: #efefef;
}
